body {
    background-color: #DBDBE3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* height: 150vh; */
    overscroll-behavior: none;
}

svg {
    width: 20wh;
    overflow: visible;
}

g {
    overflow: hidden;
    transform-origin: 5% 10%;
}

.title {
    visibility: hidden;
}

.reveal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #1c1c24;
    background-image: linear-gradient(315deg, #1c1c24 25%, rgb(42, 39, 53) 100%);
    place-content: center;
}

.main {
    width: 100v;
}

.masked-image {
    position: relative;
    width: 600px;
    height: 450px;
    overflow: hidden;
}

.titlecontainer {
    position: relative;
    width: 600px;
    height: 450px;
    /* left: -100px; */
}

.titlecontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 450px;
    top: -40px;
    left: 150px;
    z-index: 100;

    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 1199px) {
    .titlecontainer {
        left: 0;
        top: 50px
    }

    .titlecontainer2 {
        height: 50px;
        left: 0;
        top: 100px;
    }
}

.image1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    scale: 1.4;
}

.image2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    scale: 1.4;
}

.fuzzyoverlay {
    position: absolute;
    inset: -200%;
    background-image: url('../images/noise.png');
    z-index: 4;
    opacity: 1;
    animation: shift 0.05s linear infinite;
    pointer-events: none;
    mix-blend-mode: multiply;
}

@keyframes shift {
    0% {
        background-size: 2.6vw 2.6vw;
    }

    100% {
        background-size: 2.0vw 2.0vw;
    }
}