@font-face {
    font-family: InterVariable;
    src: url("../fonts//Inter-VariableFont_opsz\,wght.ttf");
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: left;
    background: #1c1c24;
    background-image: linear-gradient(315deg, #1c1c24 25%, rgb(42, 39, 53) 100%);
}

svg {
    width: 20wh;
    overflow: visible;
}

g {
    overflow: hidden;
    transform-origin: 5% 10%;
}

h1 {
    color: #e4e4e4;
    font-family: InterVariable;
    width: 100%;
}

.main {
    position: relative;

    display: flex;
    align-content: center;
    padding-top: 150px;
    inset: 0;
    height: auto;
    min-height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 100;
    place-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.masked-image {
    position: relative;
    width: 600px;
    height: 450px;
    overflow: hidden;
}

.title {
    visibility: hidden;
}

.titlecontainer {
    position: relative;
    width: 600px;
    min-width: 600px;
    height: 450px;
}

.titlecontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 450px;
    top: -40px;
    left: 150px;
    z-index: 100;

    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 500px) {
    .titlecontainer {
        scale: 0.7;
    }
}

.image1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    scale: 1.4;
}

.image2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    scale: 1.4;
}

.fuzzyoverlay {
    position: fixed;
    inset: -200%;
    background-image: url('../images/noise.png');
    z-index: 6000;
    opacity: 0.8;
    animation: shift 0.01s linear infinite;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-size: 3vw;
}

@keyframes shift {
    0% {
        transform: translateY(100vw) rotateZ(0deg);
    }

    100% {
        transform: translateY(0vw) rotateZ(360deg);
    }
}


.navbar {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    height: 150px;
    width: 100vw;
    z-index: 500;
    transition: all 0.3s ease;
    margin-top: -8px;

    &.minimized {
        backdrop-filter: blur(100px);
        height: 75px;
    }
}

.navcontainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 75px;
    width: 100vw;
    max-width: 676px;

    transition: all 0.3s ease;
}

.navbutton {
    display: flex;
    justify-content: center;

    width: auto;

    color: #89858b;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    cursor: pointer;

    font-family: InterVariable;
    font-variation-settings: "wght" 300;
    text-align: center;
    letter-spacing: 1.5px;

    transition: all 0.3s ease;

    &.active {
        color: #8662a7;
        font-variation-settings: "wght" 1000;
    }

    &:hover {
        font-variation-settings: "wght" 700;
    }
}